* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: relative;
}

.btn_menu {
    cursor: pointer;
    margin: 1%;
    transition: 0.6s linear;
    width: 2em;
    position: absolute;
    top: 0%;
    z-index: 10;
}

.line-1,
.line-2,
.line-3 {
    width: 3em;
    height: 0.4em;
    margin: 10% 0;
    transition: 0.4s;
    transform-origin: 0px 100%;
    width: 100%;
    background-color: black;
}

.active_line-1 {
    transform: rotate(45deg) translate(-4px, -1px);
    background-color: antiquewhite;
}

.active_line-2 {
    opacity: 0;
    margin-left: -100px;
}

.active_line-3 {
    transform: rotate(-45deg) translate(2px, 1px);
    background-color: antiquewhite;
}

.nav_menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -100vh;
    margin: 0;
    background-color: #333;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s ease-in;
    z-index: 1;
}

.active_nav {
    top: 0;
}

.nav_menu a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 200%;
}

@media (min-width: 319px) and (max-width: 767px) {
    .btn_menu {
        margin: 5%;
    }
    .active_line-1 {
        transform: rotate(45deg) translate(-5px, -1px);
        background-color: antiquewhite;
    }
    .active_line-3 {
        transform: rotate(-45deg) translate(3px, 1px);
        background-color: antiquewhite;
    }
}